<div class="container menuContainer col-md-10 col-md-offset-1">
    <div class="row menu backgroundFaded p-4 my-4">

        <div class="food col-md-5 mr-auto mx-0">

            <h2 class="menuCategory ">Food</h2>
            <hr class="divider">

            <h4 class="menuCategory mt-4"> Appetizers</h3>
            <h4>Food Item............$12.97</span></h4>
            <h4>Food Item............$12.97</span></h4>
            <h4></h4>

            <h4 class="menuCategory mt-4"> Entrees</h3>
            <h4>Food Item............$12.97</span></h4>
            <h4>Food Item............$12.97</span></h4>

        </div>

        <div class="col-md-5 mr-auto mx-0">
            
            <h2 class="menuCategory">Drinks</h2>
            <hr class="divider">

            <h4 class="menuCategory mt-4"> Coffee</h3>
            <h4>Drink Item............$12.97</span></h4>
            <h4>Drink Item............$12.97</span></h4>
            <h4></h4>

            <h4 class="menuCategory mt-4"> Alcohol</h3>
            <h4>Drink Item............$12.97</span></h4>
            <h4>Drink Item............$12.97</span></h4>
            
        </div>
    </div>
</div>